body {
  background-color: hsl(27, 66%, 92%);
  font-family: "DM Sans", sans-serif;
}

.thisMonth > p {
  color: hsl(28, 10%, 53%);
}

.thisMonth > h2 {
  color: hsl(25, 47%, 15%);
}

.lastMonth > p {
  color: hsl(28, 10%, 53%);
}

.lastMonth > h4 {
  color: hsl(25, 47%, 15%);
}

hr {
  background-color: hsl(27, 66%, 92%);
  border: none;
}

@media only screen and (max-width: 375px) {
  .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  .inner {
    width: 100vw;
    /* Whatever width you want */
  }
  .card-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
  }
  .item-card {
    border-radius: 10px;
    margin: 2vw 0 2vw 0;
    padding: 0 4vw;
  }
  .balance-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(10, 79%, 65%);
    color: hsl(33, 100%, 98%);
  }
  .balance > h3 {
    font-weight: 400;
    font-size: 4vw;
    margin-bottom: 1vw;
  }
  .balance > h2 {
    font-size: 5vw;
    letter-spacing: 0.5vw;
    margin-top: 1vw;
  }
  .spending-card {
    background-color: hsl(33, 100%, 98%);
  }
  .icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* Use margin-left: auto to push the container to the right */
  }
  .outer-circle {
    width: 10vw;
    height: 10vw;
    border: solid 2px hsl(27, 66%, 92%);
    border-radius: 50%;
    position: relative; /* Add position: relative to create a positioning context */
    z-index: 1;
  }
  .inner-circle {
    width: 10vw; /* Adjust the width to control how much of the inner circle is visible */
    height: 10vw;
    background-color: hsl(25, 47%, 15%);
    border-radius: 50%;
    position: relative; /* Add position: absolute to position the inner circle relative to the outer circle */
    right: 5vw; /* Position the inner circle to the right of the outer circle */
  }
  .spending-card {
    display: flex;
    flex-direction: column;
  }
  hr {
    width: 95%;
    height: 0.5vw;
  }
  .monthlySummary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .thisMonth > p {
    margin-bottom: 1vw;
  }
  .thisMonth > h2 {
    margin-top: 1vw;
  }
  .lastMonth > p {
    margin-top: 1vw;
  }
  .lastMonth > h4 {
    margin-bottom: 1vw;
    text-align: right;
  }
  .spending-card > h1 {
    font-size: 6vw;
  }
  .chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .chart-days {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 3vw;
  }
  .chart-bars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 3vw;
  }
  .chart-bar {
    width: 6vw;
    border-radius: 5px;
    background-color: aqua;
  }
}/*# sourceMappingURL=main.css.map */