$font-weights:(
    "regular": 400,
    "bold": 700
);

$soft-red:hsl(10, 79%, 65%);
$cyan:hsl(186, 34%, 60%);

$dark-brown:hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange:hsl(33, 100%, 98%);

body{
    background-color: $cream;
    font-family: 'DM Sans', sans-serif;

}

.thisMonth > p {
    color:$medium-brown;
}

.thisMonth > h2 {
  color:$dark-brown;
}

.lastMonth > p {
  color:$medium-brown;
}

.lastMonth > h4 {
  color:$dark-brown;
}


hr{
  background-color: $cream;
  border: none;
}

.today{
  background-color: $cyan;
}
.other-day{
  background-color: $soft-red;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  width: 100vw;
  /* Whatever width you want */
}

.item-card{
  border-radius: 10px;
}

.spending-card{
  background-color: $very-pale-orange;
}

.balance-card{
  background-color: $soft-red;
  color:$very-pale-orange;

}

.inner-circle{
  background-color: $dark-brown;
}

.chart-bar:hover .hoverBox{
  display: flex;
  filter: brightness(80%);
}

.chart-bar:hover{
  filter: brightness(150%);
}

.hoverBox{
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: $dark-brown;
  color:$cream;
  border-radius: 5px;
  display: none;
}

@media only screen and (max-width: 375px){
    

      .card-container{
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin:0 auto;
      }

      .item-card{
        margin:2vw 0 2vw 0;
        padding:0 4vw;
      }

      .balance-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        color:$very-pale-orange;
      }

      .balance > h3{
        font-weight: 400;
        font-size:3vw;
        margin-bottom: 1vw;
      }

      .balance > h2{
        font-size:5vw;
        margin-top: 1vw;
      }


      .icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: auto; /* Use margin-left: auto to push the container to the right */      
      }

      .outer-circle {
        width: 10vw;
        height: 10vw;
        border: solid 2px $cream;
        border-radius: 50%;
        position: relative; /* Add position: relative to create a positioning context */
        z-index: 1;
      }
      
      .inner-circle {
        width: 10vw; /* Adjust the width to control how much of the inner circle is visible */
        height: 10vw;
        border-radius: 50%;
        position: relative; /* Add position: absolute to position the inner circle relative to the outer circle */
        right: 5vw; /* Position the inner circle to the right of the outer circle */
      }

      .spending-card{
        display: flex;
        flex-direction: column;
      }



      hr{
        width: 90%;
        height: 0.75vw;
      }

      .monthlySummary{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }

      .thisMonth > p {
        margin-bottom: 2vw;
        font-size:3vw;
      }

      .thisMonth > h2 {
        margin-top:2vw;
        letter-spacing: 0.5vw;
        font-size:9vw;
      }

      .lastMonth > p {
        margin-top: 1vw;
        margin-bottom:8vw;
        font-size:3vw;
      }

      .lastMonth > h4 {
        margin-bottom:1vw;
        text-align: right;
        font-size:3.5vw;

      }

      .spending-card > h1{
        font-size:6vw;
      }

      .chart-container{
        padding: 10vw 0 1vw 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .chart-days{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size:3vw;

      }

      .chart-bars{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        margin:0 3vw;
      }

      .chart-bar{
        width: 8vw;
        border-radius: 5px;
      }

      .hoverBox{
        font-size:2.2vw;
        padding:1.5vw;
        position:relative;
        bottom:8vw;
        font-weight: 800;
        width: 8vw;
        right:1.25vw;
      }
      


}

@media only screen and (min-width: 375px){
.card-container{
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin:0 auto;
}

.item-card{
  margin:2vw 0 2vw 0;
  padding:0 4vw;
}

.balance-card{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.balance > h3{
  font-weight: 400;
  font-size: 3.5vw;
  margin-bottom: 1vw;
}

.balance > h2{
  font-size: 6vw;
  letter-spacing: 0.2vw;
  margin-top: 1vw;
}

.icon-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.outer-circle{
  width: 10vw;
  height: 10vw;
  border: solid 2px $cream;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.inner-circle{
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  position: relative;
  right: 5vw;
}

.spending-card{
  display: flex;
  flex-direction: column;
}

hr{
  width: 90%;
  height: 0.75vw;
}

.monthlySummary{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
}

.thisMonth > p {
  margin-bottom: 2vw;
  font-size:3vw;
}
.lastMonth{
  margin-top:5vw;
}

.thisMonth > h2 {
  margin-top:2vw;
  letter-spacing: 0.5vw;
  font-size:9vw;
}

.lastMonth > p {
  margin-top: 1vw;
  margin-bottom:8vw;
  font-size:3vw;
}

.lastMonth > h4 {
  margin-bottom:1vw;
  text-align: right;
  font-size:3.5vw;

}

.spending-card > h1{
  font-size:6vw;
}

.chart-container{
  padding: 10vw 0 1vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-days{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size:3vw;
}

.chart-bars{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  margin:0 3vw;
}

.chart-bar{
  width: 8vw;
  border-radius: 5px;
}

.hoverBox{
  font-size:2.5vw;
  font-weight: 800;
  padding:2vw;
  position:relative;
  bottom:8vw;
  width: 8vw;
  margin:0 auto;
  right:2vw;

}
}


@media only screen and (min-width: 630px){
.card-container{
  width: 65vw;

}

.balance > h3{
  font-size:2vw;
}

.balance > h2{
  font-size:3vw;
}

.outer-circle{
  width: 7vw;
  height: 7vw;
}
.inner-circle{
  width: 7vw;
  height: 7vw;
  right: 3vw;
}

hr{
  height: 0.4vw;
}

.thisMonth > p {
  margin-bottom: 2vw;
  font-size:2vw;
}
.lastMonth{
  margin-top:5vw;
}

.thisMonth > h2 {
  margin-top:2vw;
  letter-spacing: 0.5vw;
  font-size:5vw;
}

.lastMonth > p {
  margin-top: 1vw;
  margin-bottom:8vw;
  font-size:2vw;
}

.lastMonth > h4 {
  margin-bottom:1vw;
  text-align: right;
  font-size:3vw;

}

.spending-card > h1{
  font-size: 4vw;
}

.chart-days{
  font-size: 1.5vw;
}

.chart-bar{
  width: 6vw;
}

.hoverBox{
  font-size:1.75vw;
  font-weight: 800;
  padding:1.5vw;
  position:relative;
  bottom:8vw;
  width: 5vw;
  margin:0 auto;
  right:1vw;

}
}


@media only screen and (min-width: 750px){
  .card-container{
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin:0 auto;
  }

  .item-card{
    margin: 1vw 0 1vw 0;
    padding: 0 5vw;
  }

  .balance-card{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .balance > h3{
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom:1vw;
  }

  .balance > h2{
    font-weight: 700;
    font-size: 2.5vw;
    margin-top:1vw;
  }

  .icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .outer-circle{
    width: 4vw;
    height: 4vw;
    border: solid 2px $cream;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  .inner-circle{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    position:relative;
    right: 2vw;
  }

  .chart-container{
    padding: 2vw 0 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .spending-card{
    display: flex;
    flex-direction: column;
  }

  hr{
    width: 90%;
    height: 0.3vw;
  }

  .monthlySummary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vw;
  }
  .thisMonth > p {
    font-size:1.5vw;
  }
  
  .thisMonth > h2 {
    letter-spacing: 0.2vw;
    font-size:4vw;
  }
  
  .lastMonth > p {
    font-size:1.5vw;
  }
  
  .lastMonth > h4 {
    text-align: right;
    font-size:2vw;
  
  }
  .chart-days{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5vw;
  }

  .chart-bars{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin:0 3vw;
  }

  .spending-card > h1{
    font-size: 4vw;
  }

  .chart-bar{
    width: 5.5vw;
  }

  .hoverBox{
    font-size:1.5vw;
    font-weight: 800;
    padding:1.25vw;
    position:relative;
    bottom:5vw;
    width: 4.5vw;
    margin:0 auto;
    right:1vw;
  
  }
}

@media only screen and (min-width: 850px){
  .card-container{
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin:0 auto;
  }

  .item-card{
    margin: 1vw 0 1vw 0;
    padding: 0 5vw;
  }

  .balance-card{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .balance > h3{
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom:1vw;
  }

  .balance > h2{
    font-weight: 700;
    font-size: 2.5vw;
    margin-top:1vw;
  }

  .icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .outer-circle{
    width: 4vw;
    height: 4vw;
    border: solid 2px $cream;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  .inner-circle{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    position:relative;
    right: 2vw;
  }

  .chart-container{
    padding: 2vw 0 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .spending-card{
    display: flex;
    flex-direction: column;
  }

  hr{
    width: 90%;
    height: 0.3vw;
  }

  .monthlySummary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vw;
  }
  .thisMonth > p {
    font-size:1.5vw;
  }
  
  .thisMonth > h2 {
    letter-spacing: 0.2vw;
    font-size:4vw;
  }
  
  .lastMonth > p {
    font-size:1.5vw;
  }
  
  .lastMonth > h4 {
    text-align: right;
    font-size:2vw;
  
  }
  .chart-days{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5vw;
  }

  .chart-bars{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin:0 3vw;
  }

  .spending-card > h1{
    font-size: 4vw;
  }

  .chart-bar{
    width: 5.5vw;
  }

  .hoverBox{
    font-size:1.5vw;
    font-weight: 800;
    padding:1.25vw;
    position:relative;
    bottom:5vw;
    width: 4.5vw;
    margin:0 auto;
    right:0.75vw;
  
  }
}

@media only screen and (min-width: 1000px){
  .card-container{
    display: flex;
    flex-direction: column;
    width: 55vw;
    margin:0 auto;
  }

  .item-card{
    margin: 1vw 0 1vw 0;
    padding: 0 5vw;
  }

  .balance-card{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .balance > h3{
    font-weight: 400;
    font-size: 1.2vw;
    margin-bottom:1vw;
  }

  .balance > h2{
    font-weight: 700;
    font-size: 2.2vw;
    margin-top:1vw;
  }

  .icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .outer-circle{
    width: 4vw;
    height: 4vw;
    border: solid 2px $cream;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  .inner-circle{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    position:relative;
    right: 2vw;
  }

  .chart-container{
    padding: 2vw 0 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .spending-card{
    display: flex;
    flex-direction: column;
  }

  hr{
    width: 90%;
    height: 0.3vw;
  }

  .monthlySummary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vw;
  }
  .thisMonth > p {
    font-size:1.2vw;
  }
  
  .thisMonth > h2 {
    letter-spacing: 0.2vw;
    font-size:3vw;
  }
  
  .lastMonth > p {
    font-size:1.2vw;
  }
  
  .lastMonth > h4 {
    text-align: right;
    font-size:1.5vw;
  
  }
  .chart-days{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2vw;
  }

  .chart-bars{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin:0 3vw;
  }

  .spending-card > h1{
    font-size: 3vw;
    letter-spacing: 0.2vw;
  }

  .chart-bar{
    width: 4.5vw;
  }

  .hoverBox{
    font-size:1.2vw;
    font-weight: 800;
    padding:1vw;
    position:relative;
    bottom:5vw;
    width: 3.5vw;
    margin:0 auto;
    right:0.5vw;
  
  }
}

@media only screen and (min-width: 1400px){
  .card-container{
    display: flex;
    flex-direction: column;
    width: 55vw;
    margin:0 auto;
  }

  .item-card{
    margin: 1vw 0 1vw 0;
    padding: 0 2vw;
  }

  .balance-card{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .balance > h3{
    font-weight: 400;
    font-size: 1vw;
    margin-bottom:1vw;
  }

  .balance > h2{
    font-weight: 700;
    font-size: 1.65vw;
    margin-top:1vw;
  }

  .icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .outer-circle{
    width: 3vw;
    height: 3vw;
    border: solid 2px $cream;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  .inner-circle{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    position:relative;
    right: 1.5vw;
  }

  .chart-container{
    padding: 2vw 0 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .spending-card{
    display: flex;
    flex-direction: column;
  }

  hr{
    width: 90%;
    height: 0.2vw;
    padding:0;
    margin:0 auto;
  }

  .monthlySummary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 12vw;
  }
  .thisMonth > p {
    font-size:1vw;
    margin-bottom:0.5vw;
  }
  
  .thisMonth > h2 {
    letter-spacing: 0.2vw;
    font-size:2.5vw;
    margin-top:0.5vw;
  }
  
  .lastMonth > p {
    font-size:1vw;
    margin-bottom: 7vw;
    margin-top:0.5vw;
  }
  
  .lastMonth > h4 {
    text-align: right;
    font-size:1.3vw;
    margin-bottom: 0.5vw;
  
  }
  .chart-days{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1vw;
  }

  .chart-bars{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin:0 3vw;
  }

  .spending-card > h1{
    font-size: 2.5vw;
    letter-spacing: 0.2vw;
  }

  .chart-bar{
    width: 4.5vw;
  }

  .hoverBox{
    font-size:1.2vw;
    font-weight: 800;
    padding:1vw;
    position:relative;
    bottom:4vw;
    width: 3.5vw;
    margin:0 auto;
    right:0.5vw;
  
  }
}

@media only screen and (min-width: 1800px){
  .card-container{
    display: flex;
    flex-direction: column;
    width: 55vw;
    margin:0 auto;
  }

  .item-card{
    margin: 0.5vw 0 0.5vw 0;
    padding: 0 2vw;
  }

  .balance-card{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .balance > h3{
    font-weight: 400;
    font-size: 1vw;
    margin-bottom:1vw;
  }

  .balance > h2{
    font-weight: 700;
    font-size: 2vw;
    margin-top:1vw;
  }

  .icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .outer-circle{
    width: 2vw;
    height: 2vw;
    border: solid 2px $cream;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  .inner-circle{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    position:relative;
    right: 1vw;
  }

  .chart-container{
    padding: 2vw 0 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .spending-card{
    display: flex;
    flex-direction: column;
  }

  hr{
    width: 90%;
    height: 0.2vw;
    padding:0;
    margin: 0 auto;
  }

  .monthlySummary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8vw;
  }
  .thisMonth > p {
    font-size:1vw;
    margin-bottom:0;
  }
  
  .thisMonth > h2 {
    letter-spacing: 0.2vw;
    font-size:2.5vw;
    margin-top:0;
  }
  
  .lastMonth > p {
    font-size:1vw;
    margin-top:0;
    margin-bottom:7vw;
  }
  
  .lastMonth > h4 {
    text-align: right;
    font-size:1.2vw;
    margin-bottom: 0.5vw;
  
  }
  .chart-days{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.85vw;
  }

  .chart-bars{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin:0 3vw;
  }

  .spending-card > h1{
    font-size: 2.5vw;
    letter-spacing: 0.2vw;
  }

  .chart-bar{
    width: 4.2vw;
  }

  .hoverBox{
    font-size:1.1vw;
    font-weight: 800;
    padding:0.75vw;
    position:relative;
    bottom:3.5vw;
    width: 3.5vw;
    margin:0 auto;
    right:0.25vw;
  
  }
}

